/* General Styles */
.App {
    text-align: center;
    display: grid;
    gap: 2em;
    
}

/* Navigation Bar Styles */
.navbar, .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    background: linear-gradient(270deg, #011B56 ,#5b6d92);
}
.main-nav ul {
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.main-nav ul li {
    margin-right: 20px;
}
.main-nav ul li a {
    text-decoration: none;
    color: #ffbe98;
    font-weight: bold;
}

.grid-hero-container {
    display: grid;
}


/* Hero Section Styles */
.top-web-heading {
    position: absolute;
    top: 75px;
    left: 40px;
    font-size: 300rem;
    margin: 50px;
}
.top-web-heading h1, .top-web-heading h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
.top-web-heading h1 {
    font-size: 8rem;
    font-weight: 300;
}
.top-web-heading h2 {
    font-size: 5rem;
    font-weight: 100;
}
.top-web-heading h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 100;
    color: red;
    background: white;
    transition: ease-in-out 0.5s;
    
}
.top-web-heading > h3:hover {
    color: #707070;
    background: rgb(0, 0, 0);
}
.message::before {
    content: "Hi there,";
    background: #f09090;
    display:inline;
    width: 100%;

    /* background-image: url("../../assets/under_construction-0.0.png");  */
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #011B56, #53585c, #83a1b7, #5b6d92);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    position: relative;
    overflow: hidden;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hero-image {
    width: 50%;
    padding: 40px;
}
.hero-image > a {
    display: block;
    width: 100%;
    height: 100vh;
}
.contact-form {
    background-color: rgba(0, 0, 0, 0.8); /* 80% transparent black */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight: 100;
    /* border: 1px solid white; */
    margin: 10px 20px;
    margin-left: 20px;
    padding: 20px 100px;
    padding-bottom: 50px;
    /* border-radius: 5px; */
    /* Adjust width as needed */
    width: 40%;
}
.contact-form h1 {
    font-size: 3.5vw;
    text-align: left;
}
.contact-form input {
    width: 100%;
    padding: 0;
    margin: 10;
    border-radius: 0px;
    border: none;
}
.form-field {
    margin-bottom: 25px;
    text-align: left;
}
.form-field label {
    margin-top: 10px;
    font-size: 1rem;
}
.form-field input, .form-field textarea {
    font-family: inherit;
    width: 100%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white; /* Underline for input fields */
    color: white; /* Input text color */
}
.form-field input:focus, .form-field textarea:focus {
    outline: none;
    border-bottom: 2px solid white;
}

button {
    background-color: #000000; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none; /* Removing the default border */
    padding: 0 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor changes to pointer when hovering over the button */
    font-size: 1em; /* Font size for the text inside the button */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Transition effect for hover state */
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #000000;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #000000; /* Background color on hover */
    border-color: #ffffff;
    color: #83a1b7; /* Text color on hover */
    outline: 4px solid #F87C56; /* Adding an outline */
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* About Me Section Styles */
article {
    position: relative;
    height: 100%;
    width: 100%;
}
.about-me {
    display: grid;
    gap:1rem;
    height: 100%;
    background: linear-gradient(270deg, #F87C56, #ffbe98);
}  
.about-content {
    display:block;
    height: 100%;
    width: 75%;
    text-align: center;
    padding: 20px;
}
.about-articles {
    display: block;
    align-items: center;
    padding: 20px;
}
.about-text {
    text-align: center;
    /* transform: translateX(horizontalScroll 10s linear infinite); */
}
.about-content > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}
.about-content h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin: 20px 0;
    padding: 0;
    font-size: 5em;
}

.text-xl {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
}
.text-l {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}

.projects {
    height: 100vh;
    padding: 50px;
}

.project-card {
    border: 1px solid #0015ff;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.project-card .card-content {
    /* Style for the content inside each card */
}
.project-card:in-viewport {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    padding-top: 20px;
    height: 10vh;
    background-color: #000000;
    color: rgb(30, 0, 255);
    gap: 20px;
}
.footer a {
    color: white;
    font-size: 2rem;
}

/* Tooltip Styles */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip-text {
    visibility: hidden;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #F87C56;
    color: #000000;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 100%;
    left: 250px;
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/*  */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes horizontalScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Media Query for Large Screens (Laptops) */
@media (max-width:1040px) {
    .contact-form {
        position: relative;
        margin-top: 300px;
        padding: 10px 40px; 
    }
    .top-web-heading {
        position:absolute; /**/
        top: 0;
        /* left: 30px; */
        margin:50px;
        /* text-align: left; */
    }
    .tooltip-text {
        height: 40px;
        left: 190px;
        top: 30px;
    }
}

/* Media Query for Medium Screens (Tablets) */
@media (max-width: 768px) {
    .top-web-heading {
        position:absolute; /**/
        top: 200px;
        left: 0px;
        margin:50px;
        text-align: left;
    }
    .top-web-heading h1 {
        font-size: 5rem; /* Adjust font size */
        padding: 0;
    }
    .top-web-heading h2 {
        font-size: 2.5rem; /* Adjust font size */
    }
    .hero {
        flex-direction: column; /* Stack elements vertically */
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-image {
        position: static;
        width: 100%;
        padding: 0px;
    }
    .hero-image > img {
        display: block;
        width: 100vw;
        height: 100%;
    }

    .contact-form {
        position: absolute;
        top: 200px;
        left: 10px;
        width: 70%; /* Adjust the width of the form */
        padding: 20px; /* Adjust padding */
    }

    .contact-form h1 {
        font-size: 5vw; /* Adjust the heading size */
    }

    .tooltip-text {
        height: 40px;
        left: 190px;
        top: 30px;
    }
}

/* Media Query for Small Screens (Mobile Devices) */
@media (max-width: 425px) {
    .top-web-heading {
        position:absolute; /**/
        top: 60px;
        left: 15px;
        margin: 0;
    }
    .top-web-heading h1 {
        font-size: 2.5rem; /* Further reduce the font size for small screens */
    }
    .top-web-heading h2 {
        font-size: 4rem; /* Further reduce the font size for small screens */
        line-height: 60px; 
    }

    .hero {
        flex-direction: column; /* Ensure elements are stacked vertically */
    }

    .hero-content {
        flex-direction: column;
        width: 100%;
    }

    .hero-image {
        width: 100%;
        padding: 10px;
    }

    .contact-form {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 70vw;
        padding: 15px; /* Adjust padding */
    }

    .contact-form h1 {
        font-size: 6vw; /* Adjust the heading size */
    }

    .form-field label, .form-field input, .form-field textarea {
        font-size: 0.8rem; /* Adjust font size of form fields */
    }
    .tooltip-text {
        height: 40px;
        left: 140px;
        top: 10px;
    }

    .text-xl {
        font-size: 1.5rem;
    }
    .text-l {
        font-size: 1rem;
    }
}
