.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.navigation {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #000000;
}

.list-group {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 5;

}
.list-group-item {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: rgb(0, 255, 51);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 50px 0 0 100px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parallax {-ms-content-zoom-chaining: ;
    min-height: 100%;
}
.parallax .container {
    /* display: grid; */
    /* grid-template-areas: "stack"; */
}


.elements {
    display: grid;
    grid-template-areas: "stackedgrid";
}
.elements > * {
    grid-area: stackedgrid;
    animation: parallax 10s linear infinite;
    animation-timeline: scroll();
}

.background {
    display: grid;
    grid-template-areas: "stack";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.background > * {
    grid-area: stack;
}

img {
    width: 100%;
    height: 100%;
}

.back-a {
    z-index: -10;
    --parallax-speed: 100;

}
.back-b {
    z-index: -9;
    --parallax-speed: 300;
}


.hero {
    z-index: 10;
    color:red;
} 

.heroLayer {
    height:100vh;
    width: 100%;
    background-color: coral;
}

.first {
    height: 100vh;
    margin-top: 160px;
}
.firstTagLine {
    color: slateblue;
    text-align: right;
    line-height: 1em;
    font-size: 10rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    z-index: 10;
}
.intro {
    height: 100vh;
    background-color: #ff779d;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    z-index: 9;
}
.intro p {
    color:bisque;
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

/* Media Query for Extra Large Screens (4K TVs)*/
@media (min-width: 1045px) {
    .top-web-heading {
        position:absolute; /**/
        top: 30px;
        left: 30px;
        margin:50px;
        text-align: left;
    }
    .top-web-heading h1 {
        font-size: 5rem; /* Adjust font size */
        padding: 0;
    }
    .top-web-heading h2 {
        font-size: 3rem; /* Adjust font size */
    }
    .hero {
        flex-direction: row; /* Stack elements vertically */
    }
    .hero-content {
        flex-direction: row;
    }
    .hero-image {
        position: static;
        width: 50%;
    }
    .hero-image > img {
        display: block;
        width: 95vw;
        height: 100%;
    }
    .contact-form {
        position: absolute;
        top: 300px;
        left: 60px;
        width: 40%; /* Adjust the width of the form */
        padding: 20px; /* Adjust padding */
    }
    .contact-form h1 {
        font-size: 4vw; /* Adjust the heading size */
    }
    .contact-form input {
        padding: 10px;
    }
    .form-field label {
        font-size: 3rem;
    }
    .form-field input, .form-field textarea {
        font-size: 2rem;
    }
    button {
        font-size: 2rem;
    }
}
