/* General Styles */
.App {
    text-align: center;
    /* display: grid;
    gap: 2em; */

}

/* Navigation Bar Styles */
.nav-section,
.navbar,
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    background: linear-gradient(270deg, #011B56, #5b6d92);
}

.main-nav ul {
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #ffbe98;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #011B56, #6ca0cb, #83a1b7, #5b6d92);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

/* Hero Section Styles */
.kicker-heading {
    /* grid-area: 'title'; */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin: 50px;
    padding-top: 50px;
    z-index: 1;
}

h1,
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.kicker-heading h1 {
    font-size: 8rem;
    font-weight: 300;
}

.kicker-heading h2 {
    font-size: 5rem;
    font-weight: 100;
}

.kicker-heading h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 100;
    color: red;
    background: white;
    transition: ease-in-out 0.5s;

}

.kicker-heading>h3:hover {
    color: #707070;
    background: rgb(0, 0, 0);
}

.message::before {
    content: "Hi there,";
    background: #ffbe98;
    display: inline;
    width: 100%;
    z-index: 900;

    /* background-image: url("../../assets/under_construction-0.0.png");  */
}

.grid-hero-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 1fr 0.5fr;
}

.hero-image {
    /* grid-area: 'image'; */
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    padding: 40px;
    z-index: 0;
}

.hero-image img {
    width: 60%;
    margin: 200px 0px 0px 25%;
}

.kicker-form {
    /* grid-area: 'form'; */
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 3;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #011B56, #5b6d92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight: 100;
    /* border: 1px solid white; */
    margin: 40px;
    padding: 20px 50px;
    /* padding-bottom: 50px; */
    /* border-radius: 5px; */
    /* Adjust width as needed */
    /* width: 40%; */
    z-index: 2;
}

/* Contact Form */
.contact-form {
    width: 100%;
    padding: 20px 50px;
    margin: 50px 0px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.contact-form .form-field {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contact-form .form-field label {
    font-size: 1.5rem;
    margin-top: 10px;
}
.contact-form h1 {
    font-size: 3.5vw;
    text-align: center;
}

/* Form Field Styles */
.form-field input,
.form-field textarea {
    font-family: inherit;
    width: 100%;
    margin-top: 5px;
    border: none;
    /* background-color: transparent; */
    border-bottom: 1px solid white;
    color: rgb(2, 0, 109);
}

.form-field input:focus,
.form-field textarea:focus {
    outline: none;
    border-bottom: 2px solid white;
}

/* Add this CSS code for the hover effect */
button {
    margin: 5px 0;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    /* Transition effect for hover state */
    border-radius: 8px;
    border: 4px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: 3px;
    background-color: #000000;
    cursor: pointer;
}

/* Add hover styles */
.contact-form button:hover {
    background-color: #000000;
    /* Background color on hover */
    color: #83a1b7;
    /* Text color on hover */
    border-color: #ffffff;
    outline: 4px solid #F87C56;
    /* Adding an outline */
}

.contact-form button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* =============== */

/* Style for paragraphs within the center section */
.skill-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

.skill-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.5s;
}

.horizontal-bar {
    width: 50%;
    height: 4px;
    background-color: #4caf50;
    margin: 10px 0;
    float: right;
}

/* =================   */




/* About Me Section Styles */
article {
    position: relative;
    height: 100%;
    width: 100%;

}

.about-me {
    display: grid;
    gap: 1rem;
    height: 100%;
    background: linear-gradient(270deg, #F87C56, #ffbe98);
    z-index: 10;
}

.about-content {
    display: block;
    height: 100%;
    width: 75%;
    text-align: center;
    padding: 20px;
}

.about-articles {
    display: block;
    align-items: center;
    padding: 20px;
}

.about-text {
    text-align: center;
    /* transform: translateX(horizontalScroll 10s linear infinite); */
}

.about-content>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

.about-content h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    padding: 0;
    font-size: 5em;
}

.text-xl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
}

.text-l {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}

/*  PROJECT CARDS */
.projects {
    background-color: black;
    padding: 40px;
    text-align: center;
    height: 100%;
    margin-bottom: 100px;
}

.project-cards {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust as needed for spacing */
    gap: 40px;
}

.project-card {
    box-sizing: content-box;
    background-color: #333;
    /* Dark background for the card */
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    /* Shadow effect */
    padding: 20px;
    flex-basis: calc(25%);
    /* Four cards per row minus gap */
    transition: transform 0.3s, box-shadow 0.3s;
}

.projects h1 {
    font-size: 5rem;
    font-weight: 300;
    margin: 10px;
    padding-bottom: 20px;
}

.project-card h2 {
    font-size: 8rem;
    font-weight: 300;
}

.project-card h3 {
    color: #83a1b7;
    margin: 0;
    font-size: 2em;
}

.project-title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    padding: 0;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #5b6d92;
    /* Increased shadow on hover */
}


.footer {
    padding-top: 20px;
    height: 10vh;
    background-color: #000000;
    color: rgb(30, 0, 255);
    gap: 20px;
    z-index: 10;
}

.footer a {
    color: white;
    font-size: 2rem;
}

/* Background Triangle */
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #F87C56;
    /* Change color as needed */
    position: sticky;
    display: block;
    pointer-events: none;
    /* Ensures the cursor isn't blocked by the triangle */
    z-index: 0;
}

/* Tooltip Styles */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #F87C56;
    color: #000000;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 100%;
    left: 250px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/*  */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes horizontalScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Media Query for Large Screens (Laptops) */
@media (max-width:1024px) {
    .grid-hero-content {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 0.5fr;
    }

    /* Hero Section Styles */
    .kicker-heading {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        margin: 70px;
        padding-top: 120px;
    }

    .kicker-form {
        grid-column: 1 / 4;
        grid-row: 2;
        z-index: 1;
    }

    .hero-image {
        grid-column: 2 / 5;
        grid-row: 1 / 3;
    }

    .tooltip-text {
        height: 40px;
        left: 190px;
        top: 30px;
    }

    .project-card {
        flex-basis: calc(50% - 60px);
        /* Four cards per row minus gap */
    }
}

/* Media Query for Medium Screens (Tablets) */
@media (max-width: 768px) {
    .grid-hero-content {
        display: grid;
        gap: 1rem;
        /* grid-template-areas: 
        'title'
        'image'
        'form'; */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .hero-image {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        padding: 0;
    }

    .kicker-form {
        grid-column: 1 / 5;
        grid-row: 2;
        z-index: 1;
    }

    .kicker-heading {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-top: 4em;
    }

    .kicker-heading h1 {
        font-size: 3rem;
        /* Adjust font size */
        padding: 0;
    }

    .kicker-heading h2 {
        font-size: 2.5rem;
        /* Adjust font size */
    }

    .hero-content {
        flex-direction: column;
    }

    .contact-form {
        padding: 4rem;
        /* Adjust padding */
    }

    .contact-form h1 {
        font-size: 5vw;
        /* Adjust the heading size */
    }

    .tooltip-text {
        height: 40px;
        left: 190px;
        top: 30px;
    }

    .project-card {
        flex-basis: calc(50% - 60px);
        /* Four cards per row minus gap */
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .grid-hero-content {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.5fr;
    }

    .hero-image {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        padding: 0;
    }

    .hero-image img {
        width: 100vw;
        margin-top: 50px;
    }

    .kicker-form {
        grid-column: 1 / 5;
        grid-row: 2;
        z-index: 1;
        margin: 10px 0px;
    }

    .kicker-form form {
        margin-top: 20px;
    }

    .kicker-heading {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-top: 10rem;
    }

    .kicker-heading h1 {
        font-size: 4rem;
        /* Adjust font size */
        padding: 0;
    }

    .kicker-heading h2 {
        font-size: 2rem;
        /* Adjust font size */
    }

    .project-card {
        flex-basis: calc(100% - 415px);
        /* One card per row */
    }
}

@media screen and (max-width:430px) {
    .project-card {
        flex-basis: calc(100%);
        /* One card per row */
    }
}


@media screen and (max-width: 320px) {
    .kicker-form {
        grid-column: 1 / 5;
        grid-row: 2;
        z-index: 1;
        margin: 10px;
    }

    .kicker-form form {
        margin-top: 0px;
    }

    .kicker-heading {
        grid-column: 1 / 5;
        grid-row: 1;
        margin: 85px 50px 50px 50px;
        text-align: left;
    }
}